<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.d3if3059.taskify">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.d3if3059.taskify.Taskify"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/planning_list"
        android:label="@string/app_name"
        android:roundIcon="@drawable/planning_list"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteTodo"
        tools:targetApi="31">
        <activity
            android:name="com.d3if3059.taskify.ui.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>